[submodule "matlab-ParforProgress2"]
	path = matlab-ParforProgress2
	url = https://github.com/kotowicz/matlab-ParforProgress2
[submodule "NoRMCorre"]
	path = NoRMCorre
	url = https://github.com/flatironinstitute/NoRMCorre
[submodule "Externals/jsonlab"]
	path = Externals/jsonlab
	url = git://github.com/fangq/jsonlab
