;-------------------------------------------------------------------------------;
; Configuration file to grabpupilsize.exe, needs to be in the root of the
; executable.
;
; Change parameters if needed to set default values.
;
;
; April, 2016. S.E. Lansbergen.
;
;-------------------------------------------------------------------------------;

show_screen_info = 1   ; <bool> show used parameters on screen

save_radius		= 0    ; <bool> save radius to file, 0 if no, 1 if yes.
save_video      = 0    ; <bool> save video to file, 0 if no, 1 if yes.
save_original	= 0	   ; <bool> save original stream to file, 0 if no, 1 if yes.

save_path_num   = c:/temp/test.txt		  		; save path for numerical output
save_path_vid	= c:/temp/test.avi 				; save path of output video
save_path_ori	= c:/temp/original.avi			; save path of output original stream

;-------------------------------------------------------------------------------;
; set total number of of frames per minute. The algorithm is tested with
; real-time performance up to 25 Hz.

frames_per_sec  = 21   ; <int> select the total number of frames per second

;-------------------------------------------------------------------------------;
; set ROI, must be equal size or else the program crashes

height_roi 		= 300		; <int> pixels
width_roi		= 300		; <int> pixels

; set x and y coordinate of ROI in original image
; if commented, the program will set the x and y
; coordinates automatically, by centering the ROI
; to the center of the image (default setting).

;ROI_start_x		= 50	; <int> pixels
;ROI_start_y		= 50	; <int> pixels

;-------------------------------------------------------------------------------;
; threshold function is used to get a bi-level 
; (binary) image out of a grayscale image.
; threshold value lies between 0 and 255.

threshold       = 20.5		; <double> threshold for binarization process.

; threshold function, see openCV documentary for 
; more detailed inforamation.
; mode = 0 -> THRESH_BINARY
; mode = 1 -> THRESH_BINARY_INV (defualt)
; mode = 2 -> THRESH_TRUNC
; mode = 3 -> THRESH_TOZERO
; mode = 4 -> THRESH_TOZERO_INV

thres_mode 		= 1 		; <int> threshold mode

;-------------------------------------------------------------------------------;
; size Gaussian blur, these dimensions setup the
; filter size. The size is always a symetrical 
; odd-number combination. the bigger the size the 
; slower the the overall performance.

heigth_blur 		= 3		; <int> pixels
width_blur 			= 3 	; <int> pixels

;-------------------------------------------------------------------------------;
; set size structuring element, which is used in 
; the morphological closing of the binarized image
; the size is always a symetrical odd-number 
; combination. the bigger the size the slower the
; the overall performance. The amount of itterations
; set how many times the operation is performed.
; (default -> commented)

;itterations_close	= 3		; <int> number of itterations
heigth_SE 			= 3		; <int> pixels
width_SE 			= 3 	; <int> pixels

;-------------------------------------------------------------------------------;
; Canny filter algorithm is used for edge detection, by looking
; at the second derivatives of the image values.
; threshold1 – first threshold for the hysteresis procedure. 
; threshold2 – second threshold for the hysteresis procedure.
; both thresholds are between 0 and 255.
; apertureSize – aperture size for the Sobel() operator. A smaller
; value is faster.

threshold1_canny	= 100	; <int> gray value
threshold2_canny 	= 50 	; <int> gray value
aperture_canny 		= 3 	; <int> aperture kernel size

;-------------------------------------------------------------------------------;
; Only ellipse with a minimum and a maximum radius are accepted, 
; the same holds for the aspect ratio. (defualt -> commented)

;pupil_min			= 15	; <int> minimum radius (pix) accepted ellipse
;pupil_max			= 55	; <int> maximum radius (pix) accepted ellipse
;pupil_aspect_ratio	= 1.5	; <double> aspect ratio of ellipse

;-------------------------------------------------------------------------------;
; show streams on display. to switch the stream on use 1, to hide 0.

original_image		= 0		; <bool> orignal image before setting ROI
blurred_image		= 0		; <bool> blurred ROI
thresholded_image	= 0		; <bool> thresholded ROI
closed_image		= 0		; <bool> morphological closed ROI
canny_image			= 0		; <bool> Canny filter algorithm ROI
end_result_image	= 1		; <bool> end result ROI

;-------------------------------------------------------------------------------;
; Additional settings for on screen text on the end result stream.
; On screen info: ROI size, frame rate and save path and name.
; The text of the save path and name is 0.1 bigger than size_text.

show_ost			= 1		; <bool> show on screen data
size_text			= 0.45   ; <double> size for text on screen.